@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('custom-text-font.css');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'localPoppins', 'Arial';
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

/* Layout for Admin Dashboard Skeleton */

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', 'localPoppins', 'Arial';
}

li {
    list-style: none;
}

h3 {
    font-family: 'Poppins', 'localPoppins', 'Arial';
    font-size: 1.750rem;
    font-weight: 700;
    color: var(--bs-emphasis-color);
}

h4 {
    font-family: 'Poppins', 'localPoppins', 'Arial';
    font-size: 1.275rem;
    margin-bottom: 0px;
    color: var(--bs-emphasis-color);
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow: auto;
    height: 100vh;
    max-width: 300px;
    min-width: 300px;
    background: var(--bs-success);
    transition: all 0.35s ease-in-out;
    float: left;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: var(--bs-success-bg-subtle);
}

/* Sidebar Elements Style */

.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    color: rgb(226, 255, 245);
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: 0.75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
    border-left: 3px solid transparent;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-link i {
    margin-right: .5rem;
}

.sidebar-link:hover {
    background-color: rgba(0, 0, 0, 0.075);
    border-left: 3px solid #fff;
}
/*
.sidebar-link:active {
    background-color: rgba(255, 255, 255, 0.727);
    border-left: 3px solid #fff;
} */

.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width: 768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

.card {
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

.illustration {
    background-color: var(--bs-light-bg-subtle);
    color: var(--bs-emphasis-color);
}

.illustration-img {
    max-width: 150px;
    width: 100%;
}

/* Sidebar Toggle */

#sidebar.collapsed {
    margin-left: -300px;
}

/* Footer and Nav */

@media (max-width: 768.98px) {

    .navbar,
    footer {
        width: 100vw;
    }
}

/* Theme Toggle */

.theme-toggle {
    position: fixed;
    top: 85%;
    transform: translateY(-65%);
    text-align: center;
    z-index: 10;
    right: 0;
    left: auto;
    border: none;
    background-color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .theme-toggle .fa-sun,
html[data-bs-theme="light"] .theme-toggle .fa-moon {
    cursor: pointer;
    padding: 10px;
    display: block;
    font-size: 1.25rem;
    color: #fff;
}

html[data-bs-theme="dark"] .theme-toggle .fa-moon {
    display: none;
}

html[data-bs-theme="light"] .theme-toggle .fa-sun {
    display: none;
}

/* Login */

.box-area {
    width: 930px;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

::placeholder {
    font-size: 16px;
}

.password-toggle-icon i:hover {
    color: var(--bs-blue);
  }

@media only screen and (max-width: 768px) {

    .box-area {
        margin: 0 10px;

    }

    .left-box {
        height: 100px;
        overflow: hidden;

    }

    .right-box {
        padding: 20px;
    }
}

/* modal for libholds */

.modal-header {
    background-color: var(--bs-secondary-bg);
}

.modal-footer {
    background-color: var(--bs-tertiary-bg);
}

a.card-click {
    color: var(--bs-emphasis-color);
}

a.card-click:hover {
    color: #20c997;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #5d5d5d;
}

::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: calc(15px/2);

}

::-webkit-scrollbar-thumb:hover {
    background: #47b581;
}

::-webkit-scrollbar-thumb:active {
    background: #358861;
}

/* circulation */
.btn {
    margin: 3px 0;
}

.offcanvas-header {
    font-size: large;
}

.offcanvas-body {
    margin-top: 50%;
}

.img-thumbnail {
    width: 40%;
    height: auto;
    margin: 3% 0 0 30%;
}

.status {
    text-align: center;
    margin: 10% auto 0;
}

.profile {
    text-align: center;
    margin-top: 1%;
    font-style: italic;
}

.information {
    text-align: center;
    margin-top: 5%;
    font-size: medium;
    font-weight: bold;
}


.sub {
    font-size: small;
    font-weight: normal;
    margin-top: -5%;
    text-align: center;
}

/* logbook button fx */
.btn-size{
    width: 30vw;
    height: 26vh;
    margin: 10px;
}

.btn-glow-student{
    box-shadow: 0 0 5px green,
    0 0 25px green;
}

.btn-glow-shs{
    box-shadow: 0 0 5px blue,
    0 0 25px blue;
}

.btn-glow-personnel{
    box-shadow: 0 0 5px red,
    0 0 25px red;
}

.btn-glow-visitor{
    box-shadow: 0 0 5px purple,
    0 0 25px purple;
}

.btn-glow-student:hover{
    background-color: green;
    box-shadow: 0 0 5px var(--bs-emphasis-color),
    0 0 15px var(--bs-emphasis-color), 0 0 30px green,
    0 0 40px green, 0 0 50px green;
}

.btn-glow-shs:hover{
    background-color: blue;
    box-shadow: 0 0 5px var(--bs-emphasis-color),
    0 0 15px var(--bs-emphasis-color), 0 0 30px blue,
    0 0 40px blue, 0 0 50px blue;
}

.btn-glow-personnel:hover{
    background-color: red;
    box-shadow: 0 0 5px var(--bs-emphasis-color),
    0 0 15px var(--bs-emphasis-color), 0 0 30px red,
    0 0 40px red, 0 0 50px red;
}

.btn-glow-visitor:hover{
    background-color: purple;
    box-shadow: 0 0 5px var(--bs-emphasis-color),
    0 0 15px var(--bs-emphasis-color), 0 0 30px purple,
    0 0 40px purple, 0 0 50px purple;
}

.alert-fixed {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px; 
    text-align: center;
}

#CircDonut {
    width: 225px; 
    height: 225px; 
}

.col-date-time,
    .col-type,
    .col-identification,
    .col-name,
    .col-code,
    .col-title {
        width: 15%; 
    }